// Primary Color
$c1-A : #151515;
$c1-B : #575757;
$c1-C : #A9A9A9;
$c1-D : #D1D1D1;
$c1-E : #EBEBEB;
$c1-F : #F5F5F5;
$c1-H : #F9F9F9;
$c1-J : #FFFFFF;

// Secondary Color
$c2-A : #6A983C;
$c2-B : #46760A;
$c2-C : #92C064;
$c2-D : #C8DEB3;
$c2-E : #F4F8EC;

// Additional Color
$c3-A : #D0A866;
$c3-B : #B28A48;
$c3-C : #ECD2A6;
$c3-D : #FAEDD8;
$c3-E : #FFF9F0;

// Additional Color
$c4-A : #E5704B;
$c4-B : #C7522D;
$c4-C : #EB8D70;
$c4-D : #F7C6B7;
$c4-E : #FFF1ED;

// Additional Color
$c5-A : #37D0D6;
$c5-B : #19B2B8;
$c5-C : #7CD0D3;
$c5-D : #B9E6E8;
$c5-E : #ECF6F6;
