@mixin font($font-family, $font-weight, $font-size, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin h1 {
  @include font('Poppins', 600, 32px, 140%)
}

@mixin h2 {
  @include font('Poppins', 600, 26px, 39px)
}

@mixin h3 {
  @include font('Poppins', 600, 22px, 33px)
}

@mixin h4 {
  @include font('Poppins', 600, 18px, 27px)
}

@mixin h5 {
  @include font('Poppins', 500, 15px, 22px)
}

@mixin h6 {
  @include font('Poppins', 600, 12px, 18px)
}

@mixin button {
  @include font('Poppins', 700, 15px, 22px)
}

@mixin lead {
  @include font('Open Sans', 400, 17px, 23px)
}

@mixin body {
  @include font('Open Sans', 400, 14px, 19px)
}

@mixin caption {
  @include font('Open Sans', 400, 12px, 16px)
}
