<footer class="container">
  <div class="site-map">
    <div class="links-list">
      <h4 class="title">Get in Touch</h4>
      <div class="item">About Us</div>
      <div class="item">Careers</div>
      <div class="item">Press Releases</div>
      <div class="item">Blogs</div>
    </div>
    <div class="links-list">
      <h4 class="title">Connections</h4>
      <div class="item">Facebook</div>
      <div class="item">Twitter</div>
      <div class="item">Instagram</div>
      <div class="item">Youtube</div>
      <div class="item">Linkedin</div>
    </div>
    <div class="links-list">
      <h4 class="title">Earnings</h4>
      <div class="item">Become an Affiliate</div>
      <div class="item">Advertise Your Product</div>
      <div class="item">Sell on market</div>
    </div>
    <div class="links-list">
      <h4 class="title">Account</h4>
      <div class="item">Your account</div>
      <div class="item">Return Centre</div>
      <div class="item">100 % purchase protection</div>
      <div class="item">Chat with us</div>
      <div class="item">Help</div>
    </div>
  </div>
  <div class="copyright">Copyright © 2020 petrbilek.com</div>
</footer>
